body
{
    font: Arial, sans-serif;
}

.km-scrollview
{
    border-bottom: 2px solid #007;
}

.km-scrollview div[data-role="page"]
{
    text-align: center;
}

.km-scrollview div span
{
    display: block;
    font-size: 1.2em;
    padding: 1em 0;
}